$white_text: #f6f5f5;
$pink_text: #ff7373;
$bgc_up_h: #472424;
$bgc_down_h: #623232;
$gray_text: #8a8784;
$gray_text_tabs: #bdb9b5;

/* Fix Bootstrap */
.navbar {
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    li {
        a {
            text-decoration: none;
            color: $white_text;
        }
    }
}
ul {
    li {
        a:hover {
            color: $pink_text;
        }
    }
}